 <%= div_for comment do %>
    <% # A linha de cima diz cria uma div para o comment e faz o indicado abaixo %>
      <p>
        <strong>Posted <%= time_ago_in_words(comment.created_at) %> ago </strong> <br />
        <%= h(comment.body) %>
      </p>
    <% end %>
