var new_comment = $("<%= escape_javascript(render(:partial => @comment))%>").hide();
$('#comments').prepend(new_comment);
$('#comment_<%= @comment.id %>').fadeIn('slow');
$('#new_comment')[0].reset();


// #variavel java scritp "new_comment"
// #Mostrar o comentario "render(:partial => @comment)"
 //#Garante que o código retornado pelo ruby é um javascript válido "escape_javascript("

