<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<%=
# Vamos adicionar dados associados ao post, isto he os comments pertencentes a cada post
%>
<h2>Comments</h2>
<div id="comments">
  <%= render :partial => @post.comments.reverse %>
</div>


<!-- Vamos criar um formulario para poder adicionar tambem um novo comentario detro deste post o post actual fica guardar na variavel de instancia @post.
O que diz a linha abaixo: Criar um formulario que tendo o id de um post numa variavel da instancia, cria um novo comment. o |f| he o objecto que representa o form.

remote: true -> Para permitir iniciar pedido assincrono no servidor

-->
<%= form_for([@post, Comment.new], remote: true) do |f| %>
<p>
  <%= f.label :body, "New Comment" %> <br />
  <%= f.text_area :body %>
</p>
<p> <%= f.submit "Add Comment" %> </p>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
